@keyframes clickPulse {
    0% {
        opacity:0;
        transform:translate(-50%,-50%) scale(0);
    }
    50% {
        opacity:0.64;
    }
    100% {
        opacity:0;
        transform:translate(-50%,-50%) scale(1.4);
    }
}

@keyframes clickDown {
    0% {
        transform:scale(1) translate(-50%,-50%);
    }
    15% {
        transform:scale(0.2) translate(-50%,-50%);
    }
    100% {
        transform:scale(1) translate(-50%,-50%);
    }
}

.cursor-element {
    position:fixed;
    width:1px;
    height:1px;
    border-radius:100%;
    pointer-events:none;
    z-index:999;
    opacity:0;
    transition:filter 0.24s ease;
    mix-blend-mode:difference;
    @media (max-width:991px) {
        opacity:0!important;
    }
    &.active {
        //filter:invert(1);

    }
    .cursor-wrapper {
        position:fixed;
        pointer-events:none;
        width:64px;
        height:64px;
        top:50%;
        left:50%;
        transform:scale(1) translateX(-50%) translateY(-50%);
        transform-origin:top left;
        transition:all 0.64s, opacity 0.6s, width 0.68s, height 0.68s, left 0s, top 0s;
        transition-timing-function:cubic-bezier(.19,.58,.58,.93);
        transition-delay:0.2s;
    }

    .cursor-effect {
        position:fixed;
        pointer-events:none;
        width:32px;
        height:32px;
        background:#000;
        border-radius:100%;
        z-index:10;
        opacity:0;
        top:50%;
        left:50%;
        transform:scale(1) translateX(-50%) translateY(-50%);
        transform-origin:top left;
        transition:all 0.64s, opacity 0.6s, width 0.68s, height 0.68s, left 0s, top 0s;
        transition-timing-function:cubic-bezier(.19,.58,.58,.93);
        transition-delay:0.2s;
        &.active {
            width:64px;
            height:64px;
            opacity:0;
            transition-delay:0s;
            transition:all 1s, opacity 1.24s, width 0.6s, height 0.6s, left 0s, top 0s;
            + span {
                //background:$primary-inverted;
                background:#401f1d;
                border:1px solid #401f1d;
                border-width:0;
                opacity:1;
                transform:scale(1) translateX(-50%) translateY(-50%);
                width:80px;
                height:80px;
                box-shadow:0px 0px 24px rgba(2,2,2,0.1);
                transition:0.32s ease;
                transition-delay:0.08s;
            }
        }
    }

    span {
        position:fixed;
        border:1px solid $primary-inverted;
        //border:1px solid #331d40;
        border-radius:100px;
        background:transparent;
        opacity:1;
        width:48px;
        height:48px;
        display:block;
        z-index:20;
        transition:0.62s;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        transform-origin:top left;
        transition-timing-function:cubic-bezier(.19,.58,.58,.93);
    }

    &:before, &:after {
        position:absolute;
        content:'';
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background:#fff;
        border-radius:100px;
        pointer-events:none;
        opacity:0;
    }
    &:before {
        width:32px;
        height:32px;
        background:#fff;
    }
    &:after {
        width:42px;
        height:42px;
    }

    &.clicked {
        .cursor-wrapper {
            animation:clickDown 0.32s;
            animation-fill-mode:forwards;
            animation-timing-function:cubic-bezier(.19,.58,.58,.93);
            transition:all 0.64s, opacity 0.6s, width 0.68s, height 0.68s, left 0s, top 0s, transform 0.2s;
        }
        &:before {
            //animation:clickPulse 0.24s;
            animation:clickPulse 0.36s;
            animation-timing-function:cubic-bezier(.19,.58,.58,.93);
            animation-fill-mode:forwards;
        }
        &:after {
            //animation:clickPulse 0.32s;
            animation:clickPulse 0.4s;
            //animation-delay:0.14s;
            animation-delay:0.2s;
            animation-timing-function:cubic-bezier(.19,.58,.58,.93);
            animation-fill-mode:forwards;
        }
    }
    &.mouse-down {
        .cursor-wrapper {
            transform:scale(0.8) translate(-50%,-50%);
        }
    }
}