@keyframes loading-progress {
    0% {
        width:0%;
    }
    100% {
        width:100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes loaded {
    0% {
        transform:translateY(0);
    }
    100% {
        transform:translateY(-104vh);
    }
}
#loading-splash {
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:9999;
    background:#30567c;
    //background:linear-gradient(160deg, #1dbbcb 0%, #0f3656 100%);
    //background:linear-gradient(160deg, #386E78 0%, #00505E 100%);
    background:$primary-dark;
    background:radial-gradient(#8CC4CD 0%, $primary-dark 100%);
    bottom:0;
    left:0;
    overflow:hidden;
    transform:translateY(0);

    .center {
        position:absolute;
        top:calc(50% - 2vh);
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        @include smooth;
        opacity:1;
        z-index:9999;

        div.logo {
            width:100%;
            width:400px;
            margin-left:auto;
            margin-right:auto;
            max-width:calc(100vw - 32px);
            display:block;
            opacity:0;
            animation: fadeIn 1.6s 0.4s, zoomIn 2s 0.08s;
            //animation-delay:0.08s;
            animation-fill-mode:forwards;
            margin-top:-12px;
            backface-visibility: hidden;
            animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
            @media (max-width:480px) {
                width:260px;
            }
            svg {
                transform:translateX(-6px);
                filter: drop-shadow(0px 0px 16px rgba(2,2,2,0.2));
            }
        }
        div.alternate-emblem {
            display:none;
            svg {
                width:100%;
                width:196px;
                display:block;
                opacity:0;
                animation: fadeIn 0.4s;
                animation-delay:0.08s;
                animation-fill-mode:forwards;
                transform:scale(1) translateY(-16px);
                &#pen {
                    position:absolute;
                    top:calc(50% - 6px);
                    left:50%;
                    transform:translateX(-50%) translateY(-50%) scale(0.5);
                    filter:blur(2px);
                    g {
                        opacity:0.4;
                    }
                    #Group_76 {
                        path {
                            fill:rgba(0,0,0,0.1);
                        }
                    }
                    #Group_68 {
                        path {  
                            stroke:#fff;
                            stroke-width:0.5px;
                        }
                    }
                }
                g#TWD {
                    path {
                        fill:#fff;
                    }
                }
            }
        }

        .load-bar {
            opacity:0;
            //width:196px;
            width:400px;
            max-width:calc(100vw - 32px);
            height:4px;
            background:rgba(255,255,255,0.1);
            overflow:hidden;
            //margin-top:0;
            margin-top:12px;
            animation: fadeIn 0.4s;
            animation-delay:0.2s;
            animation-fill-mode:forwards;
            position:relative;
            filter:opacity(0);

            .load-bar-inner {
                //background:$primary;
                background:#fff;
                position:absolute;
                top:0;
                left:0;
                height:6px;
                @include smooth;
                width:0%;
                &.loading {
                    animation:loading-progress 2s;
                    //animation:loading-progress 0.2s; //debug
                    //animation:loading-progress 244.2s; //debug
                    animation-delay:0.3s;
                    animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
                    animation-fill-mode:forwards;
                }
            }
        }

        .load-circle {
            min-width:300px;
            min-width:340px;
            display:block;
            position:absolute;
            top:calc(50% - 8px);
            left:50%;
            transform:translateX(-50%) translateY(-50%) rotate(-90deg);
            pointer-events:none;
            display:none; //debug
            circle {
                stroke:#fff;
                stroke-width: 0.25;
                stroke-width: 2;
                fill: none;
                stroke-dasharray: 650;
                stroke-dashoffset: 650;
                transform: scale(1);
                origin:center;
                animation:fill 3.4s forwards;
                animation-delay:0.3s;
                animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
            }
        }
        
    }

    &.loaded {
        animation:loaded 1.5s;
        //animation:loaded 0s; //debug
        animation:loaded 0.8s; //debug
        animation-delay:0.3s;
        //animation-timing-function:0.785, 0.135, 0.15, 0.86;
        animation-timing-function:cubic-bezier(.8,.01,.19,1);
        animation-fill-mode:forwards;
        .center {
            @include medium;
            opacity:0;
            transform:translateX(-50%) translateY(-50%) scale(0.8);
            transition-timing-function:cubic-bezier(.8,.01,.19,1);
        }

    }

    .white-panel {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:#fff;
        z-index:8500;
    }
    .blue-panel, .orange-panel, .dark-blue-panel {
        position:fixed;
        bottom:0;
        left:0;
        width:100vw;
        height:100vh;
    }
    .blue-panel {
        z-index:8000;
    }
    .orange-panel {
        z-index:7000;
    }
    .dark-blue-panel {
        z-index:6000;
    }
}
