@mixin quick {
    transition:0.18s;
    transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin smooth {
    transition:0.24s ease;
}

@mixin medium {
    transition:0.4s;
    transition-timing-function:cubic-bezier(0,0,.19,1);
}

@mixin slow {
    transition:0.8s;
    transition-timing-function:cubic-bezier(0,0,.19,1);
}