body {
    *, *:before, *:after {
        font-family:'Source Serif Pro', 'Helvetica', 'Arial', sans-serif;
    }

    p {
        font-family:'Source Serif Pro', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    }

    h1, h2, h3, h4, h5 {
        font-weight:bold;
        color:#000;
        text-align:left;
        max-width:100%;
        margin-left:0;
        margin-right:0;

        &.handwriting {
            font-family: 'Klee One', cursive!important;
            span, span:before, span:after {
                font-family: 'Klee One', cursive!important;
            }
            span.char {
                padding:4px 1px;
            }
        }
    }
    h1 {
        font-size:64px;
        margin:40px 0;
        margin-top:0;
        @media (max-width:991px) {
            margin:24px 0 16px;
        }
        @media (max-width:768px) {
            font-size:28px;
            margin:16px 0 4px;
        }
        @media (max-width:400px) {
            font-size:24px;
        }
    }
    h2 {
        font-size:40px;
        margin:32px 0;
        @media (max-width:768px) {
            font-size:22px;
            margin:16px 0;
        }
        @media (max-width:400px) {
            font-size:20px;
        }
    }
    h1, h2 {
        cursor:default;
        line-height:1.1;
        letter-spacing:-2px;
        @media (max-width:768px) {
            letter-spacing:0px;
        }
    }
    h3 {
        font-size:32px;
        @media (max-width:768px) {
            font-size:22px;
        }
        @media (max-width:400px) {
            font-size:20px;
        }
    }
    h4 {
        font-size:26px;
        @media (max-width:768px) {
            font-size:18px;
        }
        @media (max-width:400px) {
            font-size:16px;
        }
    }
    h5 {
        font-size:20px;
        @media (max-width:768px) {
            font-size:16px;
        }
        @media (max-width:400px) {
            font-size:14px;
        }
    }
ul {
    font-size:18px;
    @media (max-width:768px) {
        font-size:16px;
    }
}
    p {
        font-size:18px;
        margin:12px;
        margin-left:0;
        margin-right:0;
        text-align:left;
        @include smooth;
        //width:680px;
        //width:608px;
        max-width:calc(100% - 32px);

        @media (max-width:768px) {
            font-size:16px;
        }
        @media (max-width:367px) {
            font-size:15px;
        }
        span {
            font-size:inherit;
            font-weight:inherit;
            font-family:inherit;
        }
        a {
            text-decoration:none!important;
            color:darken($primary-dark, 20%);
            font-weight:500;
            @include smooth;
            &:hover {
                filter:brightness(1.1);
            }
        }

        + h3 {
            margin-top:24px;
        }
        strong {
            font-weight:700;
        }
    }

    div, p {
        line-height:1.4;
    }
    
    span.char {
        backface-visibility:hidden;
        transform:translateZ(0) translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        color:inherit;
        &:before {
            backface-visibility:hidden;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
            will-change: transform;
            color:inherit;
        }
    }
}

.text-content {
    //width:680px;
    width:608px;
    max-width:calc(100% - 32px)!important;
    margin-left:auto;
    margin-right:auto;
}

.quote {
    position:relative;
    @media (max-width:768px) {
      padding-top:48px!important;
    }
    &:before {
      position:absolute;
      content:'';
      height:100px;
      width:100px;
      left:-42px;
      top:50%;
      transform:translateY(-50%) scale(0.8);
      background-image:url('../assets/images/quote-primary.png');
      background-position:center center;
      background-size:cover;
      pointer-events:none;
      @media (max-width:768px) {
        left:50%;
        top:-38px;
        transform:translateX(-50%) scale(0.68);
      }
    }
}

.splitting {
    ::selection {
        background:transparent;
    }
    .word, .char {
        display:inline;
    }
    &.lines {
        @for $i from 1 through 32 {
            &:nth-child(#{$i}) {
                span.word {
                    animation-delay:calc(0.068s * var(--line-index) + (0.2s * $i))!important;
                }
            }
        }
    }
    &.chars {
        @for $x from 1 through 32 {
            &:nth-child(#{$x}) {
                span.char {
                    &:before {
                        animation-delay:calc(0.032s * var(--char-index) + (0.2s * $x))!important;
                    }
                }
            }
        } 
    }
}
span {
    &.char {
        overflow:hidden;
        opacity:1;
        visibility:hidden;
        padding:0 2px; //optimization for negative letter-spacing
        margin-left:-2px;
        margin-right:-2px;

        &:before {
            transform:translateY(102%);
            visibility:visible!important;
        }

        &.reveal-char { //added via scrolltrigger
            animation:revealChar 1s;
            animation-fill-mode:forwards;
            animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
        }
    }

}

.lines {
    span.word {
        opacity:0;
    }
    &.reveal { //added via scrolltrigger
        span.word {
            animation:zFadeIn 0.6s;
            animation-fill-mode:forwards;
            animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
        }
    }
}

.splitting {
    &.reveal {
        span.char {
            &:before {
                animation:revealChar 0.42s;
                animation-fill-mode:forwards;
                animation-timing-function:cubic-bezier(.785, 0.135, 0.15, 0.86);
            }
        }
    }
}

.splitting-rows {
    -webkit-transform: perspective(1000px);
    perspective:1000px;
    opacity:0;
    &.reveal {
        opacity:1;
    }
    span.word {
        opacity:0;
    }
}

p.quote {
    padding:64px;
    font-style: italic;
    margin:64px auto 100px;
    margin-left:auto!important;
    margin-right:auto!important;
    background:$primary-light;
    text-align:center;
    max-width:680px;
    @media (max-width:480px) {
        padding:16px;
    }
    &.white-bg {
        background:#fff;
        box-shadow:0px 0px 24px rgba(162,214,224,0.32);
    }
    strong {
        display:block;
        margin-top:10px;
        font-style: normal;
    }
}