
.editing-proofreading {
    img {
        width:500px;
        max-width:100%;
        margin:0 auto;
    }
}

.edit {
    .tab-panel {
        margin:10vh auto;
        @media (max-width:991px) {
            margin:120px auto;
        }
        @media (max-width:768px) {
            margin:4vh auto;
        }
    }
}