#home {
    padding-top:136px;
    .header {
        height:calc(100vh - 136px);
        //padding-top:136px;
        > div {
            height:100%;
        }
        .image {
            background-color:#222;
            background-size:cover;
            background-position:23% center;
        }
    }
    .company-description {
        display:flex;
        flex-direction:column;
        justify-content:center;
        .text-content {
            width:724px;
            max-width:100%;
            margin-left:auto;
            margin-right:auto;
        }
    }
    .writing-services {
        width:1080px;
        max-width:100%;
        margin:16vh auto;
        @media (max-width:991px) {
            margin:120px auto;
        }
        .services-panel {
            max-width:calc(100% - 32px);
            margin-left:auto;
            margin-right:auto;
        }
        li {
            overflow:hidden;
            flex:1;
            &:nth-of-type(1) {
                border-top-left-radius:8px;
            }
            &:nth-of-type(3) {
                border-top-right-radius:8px;
            }
            a {
                background:lighten($primary, 5%);
                cursor:default;
                color:rgba(0,0,0,0.66);
                color:rgba(22,86,98,0.82);
                user-select:none;
                letter-spacing:-1px;
                @include smooth;
                &.active {
                    background:darken($primary-dark, 5%);
                    color:#fff;
                }
                &:not(.active):hover {
                    cursor:pointer;
                    //color:rgba(0,0,0,0.9);
                }
                &:not(.active):hover {
                    filter:brightness(1.04);
                }
            }
        }

        .services-descriptions {
            padding:48px;

            p {
                margin-top:0;
            }
            .primary-button {
                margin-top:16px;
            }
        }
    }

    .form-and-testimonials {
        display:flex;
        @media (max-width:991px) {
            flex-direction:column;
        }
        > div {
            width:50%;
            @media (max-width:991px) {
                width:100%;
            }
        }
        .formkit-header {
            min-width:362px;
            h2 {
                color:#000!important;
                text-align:left;
            }
        }
        form {
            margin-right:0;
            margin-left:auto;
            @media (max-width:991px) {
                margin-right:auto;
            }
            button {
                @include smooth;
                background-color:$primary-dark!important;
                span {
                    color:#fff;
                }
                &:hover {
                    filter:brightness(1.1);
                }
            }
        }
        #signup {
            h2 {
                white-space:nowrap;
                font-size:46px;
            }
            .formkit-form {
                box-shadow:0px 2px 32px rgba(105,113,119,0.2);
                background-color:rgba(255,255,255,0.2)!important;
                p {
                    color:#000;
                }
                input[type="text"] {
                    background-color:#fff!important;
                    box-shadow:inset 0px 0px 4px rgba(77,142,155,0.42);
                }
                .formkit-header {
                    z-index:2;
                }
                .formkit-background {
                    z-index:1;
                    position:relative;
                    &:before {
                        position:absolute;
                        content:'';
                        top:0;
                        left:0;
                        right:0;
                        height:160px;
                        background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                        z-index:1;
                        opacity:0.5;
                        pointer-events:none;
                    }
                }

                button {
                    background:linear-gradient(170deg, #a2d6e0 0%, #246d7a 100%)!important;
                    background-color:none!important;
                    span {
                        font-size:16px;
                        padding:14px;
                    }
                    &:hover {
                        filter:brightness(1.1);
                    }
                }
            }
        }
    }
    .testimonials {
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    #testimonies {
        width:620px;
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
        @media (max-width:991px) {
            margin-top:80px;
        }
        > div {
            display:flex;
            flex-direction:column;
            padding:24px;
            p {
                font-size:16px;
                text-align:center;
            }
            > span {
                font-weight:800;
                margin-top:12px;
                font-size:20px;
                text-align:center;
            }
        }
    }
}
