#home {

    .header {
        height:calc(100vh - 136px);
        @media 
            (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) { 
                height:calc(100vh - 46px);
                
            }
        @media (max-width:991px) {
            height:auto;
            min-height:0;
        }
        > div {
            height:100%;
            @media (max-width:991px) {
                height:auto;
            }
        }
        .image {
            background-color:#222;
            background-size:cover;
            background-position:23% center;
            @media (max-width:991px) {
                order:1;
                height:38vh;
            }
        }
    }
    .company-description {
        display:flex;
        flex-direction:column;
        justify-content:center;
        @media (max-width:991px) {
            order:2;
            padding:0 16px;
        }
        .text-content {
            width:624px;
            max-width:100%;
            margin-left:auto;
            margin-right:auto;
            @media (max-width:991px) {
                padding-top:4vh;
                padding-bottom:4vh;
            }
        
        }

        h4 {
            font-weight:600;
            margin:22px 0;
        }
    }
    .writing-services {
        width:1080px;
        max-width:100%;
        margin:8vh auto;
        @media (max-width:991px) {
            margin:120px auto;
        }
        @media (max-width:768px) {
            margin:4vh auto;
        }
        h1 {
            margin-left:auto;
            margin-right:auto;
            text-align:center;
            @media (max-width:768px) {
                margin-bottom:12px;
            }
        }

    }

    .form-and-testimonials {
        display:flex;
        margin-left: auto;
        margin-right: auto;
        width: 1500px;
        max-width: 100%;
        @media (max-width:991px) {
            flex-direction:column;
        }
        > div {
            width:50%;
            @media (max-width:991px) {
                width:100%;
            }
        }
       /*.formkit-header {
            min-width:362px;
            h2 {
                color:#000!important;
                text-align:left;

                //Testing
                /*font-family: 'Klee One', cursive!important;
                span, span:before, span:after {
                    font-family: 'Klee One', cursive!important;
                }
                span.char {
                    padding:4px 1px;
                }*/
                
            //}
        //}
        /*form {
            margin-right:0;
            margin-left:auto;
            @media (max-width:991px) {
                margin-right:auto;
            }
            button {
                @include smooth;
                background-color:$primary-dark!important;
                span {
                    color:#fff;
                }
                &:hover {
                    filter:brightness(1.1);
                }
            }
        }*/
        #signup {
            @media (max-width:991px) {
                width:calc(100% - 32px);
                margin-left:auto;
                margin-right:auto;
            }
            .formkit-form {
                max-width: 100% !important;
            }
            /*h2 {
                white-space:nowrap;
                font-size:46px;
                @media (max-width:991px) {
                    width:272px;
                    font-size:28px;
                    white-space:normal;
                }
            }*/
            /*.formkit-content {
                p {
                    max-width:100%;
                    width:100%;
                }
            }
            .formkit-form {
                box-shadow:0px 2px 32px rgba(105,113,119,0.2);
                background-color:rgba(255,255,255,0.2)!important;
                p {
                    color:#000;
                }
                input[type="text"] {
                    background-color:#fff!important;
                    box-shadow:inset 0px 0px 4px rgba(77,142,155,0.42);
                }
                .formkit-header {
                    z-index:2;
                }
                .formkit-background {
                    z-index:1;
                    position:relative;
                    &:before {
                        position:absolute;
                        content:'';
                        top:0;
                        left:0;
                        right:0;
                        height:160px;
                        background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                        z-index:1;
                        opacity:0.5;
                        pointer-events:none;
                    }
                }

                button {
                    background:linear-gradient(170deg, #a2d6e0 0%, #246d7a 100%)!important;
                    background-color:none!important;
                    span {
                        font-size:16px;
                        padding:14px;
                    }
                    &:hover {
                        filter:brightness(1.1);
                    }
                }
            }*/
        }
    }
    .testimonials {
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    #testimonies {
        width:620px;
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
        @media (max-width:991px) {
            margin-top:80px;
        }
        > div {
            display:flex;
            flex-direction:column;
            &:last-of-type p.quote {
                margin-bottom:0;
            }
            p {
                font-size:16px;
                text-align:center;
                margin-left:auto!important;
                margin-right:auto!important;

                &.quote {
                    margin-top:0;
                    margin-bottom:24px;
                    @media (max-width:991px) {
                        margin-bottom:40px;
                    }
                    &.white-bg {
                        background:rgba(255,255,255,0.24);
                        box-shadow:0px 0px 24px rgba(162,214,224,0.32);
                    }
                }
            }
        }
    }
}
