@import
"base/reset.css",
"base/colors",
"base/utility",
"base/animations",
"base/mixins",
"base/typography",
"base/loading-splash",

"layout/navigation",

"components/cursor",
"components/buttons",

"pages/pages",
"pages/index",
"pages/about",
"pages/accountability",
"pages/editing",
"pages/writing",
"pages/unstuck",
"pages/contact"

;

body {
    overflow-x: hidden;
    overflow-y: scroll;

    ::selection {
        color:darken($primary, 50%);
        background:lighten($primary, 12%);
    }
    &::-webkit-scrollbar {
        width:0;
    }
    &::-webkit-scrollbar-track {
        background:transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #e9e9e9;
        background:transparent;
        background-color:rgba(0,0,0,0.02);

        transition:background 0.4s ease;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }

    a {
        text-decoration:none;
    }
    p {
        line-height:1.4;
        a {
            text-decoration:underline;
        }
    }
    div {
        position:relative;
    }
    img, svg {
        height:auto;
        max-width:100%;
    }

    &.loading {
        .cursor-element {
            opacity:0;
        }
    }
    #app {
        z-index:1;
        min-height:100vh;
        > div:not(#loading-splash) {
            z-index:2;
        }
        .background-gradient {
            position:fixed;
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            z-index:0;
            pointer-events:none;
            opacity:0.72;
            width:100%;
            z-index:1!important;
            overflow:hidden;
            filter:hue-rotate(-20deg) saturate(2);
            &:before {
                position:absolute;
                top:0;
                left:0;
                right:0;
                background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                height:30vh;
                content:'';
                z-index:2;
                @media (min-width:2000px) {
                    height:45vh;
                }
            }
            svg {
                z-index:1;
                width:100%;

            }
        }
    }

}